<fieldset>
  <legend>{{localize "RCR.Settings.Ammo.Legend"}}</legend>

  <div class="form-group">
    <label>{{localize "RCR.Settings.EnableAmmoTracking.Name"}}</label>
    <input type="checkbox" name="enableAmmoTracking" {{checked enableAmmoTracking}}>
    <p class="hint">{{localize "RCR.Settings.EnableAmmoTracking.Hint"}}</p>
  </div>

  <div class="form-group">
    <label>{{localize "RCR.Settings.RecoverMagicalAmmo.Name"}}</label>
    <input type="checkbox" name="recoverMagicalAmmo" {{checked recoverMagicalAmmo}}>
    <p class="hint">{{localize "RCR.Settings.RecoverMagicalAmmo.Hint"}}</p>
  </div>
</fieldset>
